# Visual Studio
.vs/
*.suo
*.vcxproj.user

# Build folders
x64/
Debug/
Release/
build/

# Binary and temporary files
*.exe
*.obj
*.pdb
*.ilk
*.log
*.cache
*.tlog
*.recipe
*.db
*.ipch

# CUDA compiled objects
*.cubin
*.ptx
*.fatbin

# Ignore documents not needed in repo
*.pdf
*.pptx
